body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;

}

.none {
    display: none !important;
}

.header {
    position: relative;

    display: flex;
    flex-direction: column;/*выстраивает flex-элементы в колонку, основная ось - Y*/
    justify-content: center;/*выравнивание по основной оси*/
    align-items: center;/*выравнивание по поперечной оси*/

    

    width: 100%;
    height: 100vh;

    background-color: #50647d;
    background-image: url("../img/header/header-bg.jpg");
    background-size: cover;/*маштабирует чтобы не было пустых мест(областей)*/
    background-position: center;

}

.header-title {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 25px;
    line-height: 130%;
    color: #fff;
}

.header-subtitle {
    font-weight: 700px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.header-arrow {
    width: 48px;
    height: 48px;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.section-title {
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    padding-bottom: 70px;
    color: #000;
}

.portfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 540px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
}

.card:last-child, .card:nth-last-child(2)  {
margin-bottom: 0;
}

.card-img {
margin-bottom: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000;
    margin-bottom: 13px;
}

.card p {
   font-size: 16px;
   line-height: 130%;
   color: #000; 
}